<div class="aside-bar">
	<div class="aside-bar-header">
		<div class="input-search-icon-sm">
			<input type="text" placeholder="Search messages..." class="form-control">
		</div>
	</div>
	<div class="aside-bar-body">
		<ul class="mailbox-msg-list">
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">30s</span>
					<img src="{{'demo/avatar/avatar_09.png' | asset_url | img_loc }}" alt="avatar" title="" style="">
					<div><span class="name">Kenneth Ross</span><span class="msg">Hey there, how's it going?</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">5m</span>
					<img src="{{'demo/avatar/avatar_01.png' | asset_url | img_loc }}" alt="avatar">
					<div><span class="name">David Luke</span><span class="msg">Are we meeting this week...?</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">3h</span>
					<img src="{{'demo/avatar/avatar_05.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Jack Aviles</span><span class="msg">New UI looks good.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_07.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Darrell Ortega</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_10.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Skyler Freeman</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_13.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Walter Stephanie</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_07.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">David Thomas</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_02.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Leonel Archie</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_04.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Reginald Martin</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
			<li>
				<a href="#" class="mailbox-msg-list-item">
					<span class="time">2d</span>
					<img src="{{'demo/avatar/avatar_08.png' | asset_url | img_loc }}" alt="avatar" />
					<div><span class="name">Jacob Davis</span><span class="msg">Files uploaded to server.</span></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="aside-bar-footer">
		
	</div>
</div>

