<ul class="chat-users media-list scroll-content">
	<h4 class="">Favotires<small> (5)</small></h4>
	<hr class="mb-sm mt-n">
	<li data-stats="online" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_02.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Jeremy Potter</span></div>
		</a>
	</li>
	<li data-stats="online" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_07.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">David Tennant</span></div>
		</a>
	</li>
	<li data-stats="online" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_03.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Anna Johansson</span></div>
		</a>
	</li>
	<li data-stats="busy" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_04.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Eric Jackson</span></div>
		</a>
	</li>
	<li data-stats="away" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_08.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Howard Jobs</span></div>
		</a>
	</li>
	<hr class="mt-sm mb-n">
	<h4 class="">Online<small> (10)</small></h4>
	<hr class="mb-sm mt-n">
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_10.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Annie Watson</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_09.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Alan Doyle</span></div>
		</a>
	</li>				
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_05.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Simon Corbett</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_01.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Polly Paton</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_10.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Annie Watson</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_09.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Alan Doyle</span></div>
		</a>
	</li>             
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_05.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Simon Corbett</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_01.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Polly Paton</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_10.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Annie Watson</span></div>
		</a>
	</li>
	<li data-stats="offline" class="media">
		<a href="javascript:;" class="media-content">
			<div class="media-left">
				<img class="img-circle" src="{{'demo/avatar/avatar_09.png' | asset_url | img_loc }}" alt="" width="32" height="32">
			</div>
			<div class="media-body" style="padding-top: 6px;"><span class="name">Alan Doyle</span></div>
		</a>
	</li>
</ul>