{% extends 'layout' %}
{% block title %}Line Echarts{% endblock %}
{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">UI Elements</a></li>
<li class="active"><a href="chord-charts.html">Data zoom Charts</a></li>
{% endblock %}
{% block styles %} 
{{ 'css/echartsHome.css' | asset_url | stylesheet_tag }}
{{ 'css/codemirror.css' | asset_url | stylesheet_tag }}
{% endblock %}
{% block scripts %}
{{ "js/echarts.js" | asset_url | script_tag }}  
{{ "js/codemirror.js" | asset_url | script_tag }}
{{ "js/echartsExample.js" | asset_url | script_tag }}
{% endblock %}
{% block content %}
<div class="row" data-widget-group="group-demo">
    <div class="col-md-12">
        <div class="panel panel-default alt" data-widget='{"id" : "wiget16"}'>
          <div class="panel-heading m-n">
            <ul class="nav nav-tabs tab-warning material-nav-tabs">
              <li class="active"><a href="#domwell" data-toggle="tab">Line1 chart</a></li>
              <li><a href="#codewell" data-toggle="tab">Code</a></li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active" id="domwell">
                <div id="graphic" class="col-md-12">
                  <div id="main" class="main"></div>
                    <div>
                      <button type="button" class="btn btn-success" onclick="refresh(true)">Refresh</button>
                      <h4>Change Layout</h4>
                      <select id="theme-select" class='form-control'></select>
                      <span id='wrong-message' style="color:red"></span>
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="codewell">
                <div id="leftbar-code" class='col-md-12'>
                  <div class="well leftbar-nav">
                    <div class="nav-header"><a href="#" onclick="autoResize()" class="glyphicon glyphicon-resize-full" id ="icon-resize" ></a>option</div>
                    <textarea id="code" name="code">
                        option = {
                           title: {
                               text: "",
                               x: "center"
                           },
                           tooltip: {
                               trigger: "item",
                               formatter: "{a} <br/>{b} : {c}"
                           },
                           legend: {
                               x: 'left',
                               data: []
                           },
                           xAxis: [
                               {
                                   type: "category",
                                   name: "x",
                                   splitLine: {show: false},
                                   data: ["1", "11", "112", '22', "233", "33", "232", "123", "13"]
                               }
                           ],
                           yAxis: [
                               {
                                   type: "log",
                                   name: "y"
                               }
                           ],
                            toolbox: {
                               show: true,
                               feature: {
                                   mark: {
                                       show: true
                                   },
                                   dataView: {
                                       show: true,
                                       readOnly: true
                                   },
                                   restore: {
                                       show: true
                                   },
                                   saveAsImage: {
                                       show: true
                                   }
                               }
                           },
                           calculable: true,
                           series: [
                               {
                                   name: "Name1",
                                   type: "line",
                                   data: [1, 3, 9, 27, 81, 247, 741, 2223, 6669]

                               },
                               {
                                   name: "Name2",
                                   type: "line",
                                   data: [1, 2, 4, 8, 16, 32, 64, 128, 256]

                               }
                           ]
                        };
       
                    </textarea>
                  </div><!--/.well -->
                </div><!--/span-->
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}