{% extends 'layout-page-tabs' %}
{% block title %}Shuffle.js{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">UI Elements</a></li>
{% endblock %}

{% block styles %} 
{{ 'plugins/gridlayout/layout1/css/demo.css' | asset_url | stylesheet_tag }}
{{ 'plugins/gridlayout/layout1/css/elastic_grid.min.css' | asset_url | stylesheet_tag }}
{% endblock %}

{% block scripts %} 
{{ 'plugins/gridlayout/layout1/js/modernizr.custom.js' | asset_url | script_tag }}
{{ 'plugins/gridlayout/layout1/js/classie.js' | asset_url | script_tag }}
{{ 'plugins/gridlayout/layout1/js/elastic_grid.min.js' | asset_url | script_tag }}
{{ "demo/gridlayout/layout1.js" | asset_url | script_tag }}


{{ "plugins/shufflejs/modernizr.custom.min.js" | asset_url | script_tag }}  <!-- Dependency for Shuffle.js -->
{{ "plugins/shufflejs/jquery.shuffle.min.js" | asset_url | script_tag }}    <!-- Shuffle.js -->

{{ "demo/demo-extras-gallery.js" | asset_url | script_tag }}
{% endblock %}

{% block tablist %}
<ul class="nav nav-tabs material-nav-tabs" id="galleryfilter">
	<li class="active"><a href="#" data-group="all">All</a></li>
	<li><a href="#" data-group="industrial">Industrial</a></li>
	<li><a href="#" data-group="nature">Nature</a></li>
	<li><a href="#" data-group="architecture">Architecture</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="clearfix text-center">
					<div class="btn-group mb-md" id="gallerysort">
						<button class="btn btn-inverse" data-order="desc"><i class="fa fa-sort-alpha-asc"></i><span class="hidden-xs"> Name</span></button>
						<button class="btn btn-inverse" data-order="asc"><i class="fa fa-sort-alpha-desc"></i><span class="hidden-xs"> Name</span></button>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<ul class="gallery row">
					<div data-groups='["industrial"]' class="item-wrapper col-md-3" data-name="Rusty">
						<div class="item">
							<img src="{{'demo/stockphoto/communication_02.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Communication</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Enchanted Creek">
						<div class="item">
							<img src="{{'demo/stockphoto/music_02.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["architecture"]' class="item-wrapper col-md-3" data-name="Building">
						<div class="item">
							<img src="{{'demo/stockphoto/beauty_06.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Beauty</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Mill">
						<div class="item">
							<img src="{{'demo/stockphoto/music_04.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["industrial"]' class="item-wrapper col-md-3" data-name="Machiery">
						<div class="item">
							<img src="{{'demo/stockphoto/music_01.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["architecture"]' class="item-wrapper col-md-3" data-name="Fire Escape">
						<div class="item">
							<img src="{{'demo/stockphoto/music_06.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Mossy Tree">
						<div class="item">
							<img src="{{'demo/stockphoto/music_12.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["industrial"]' class="item-wrapper col-md-3" data-name="Demolition">
						<div class="item">
							<img src="{{'demo/stockphoto/music_08.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["architecture"]' class="item-wrapper col-md-3" data-name="Fountain">
						<div class="item">
							<img src="{{'demo/stockphoto/communication_09.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Communication</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Rider">
						<div class="item">
							<img src="{{'demo/stockphoto/music_10.jpg' | asset_url | img_loc }}" alt="" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="River">
						<div class="item">
							<img src="{{'demo/stockphoto/beauty_10.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Beauty</h3>
						</div>
					</div>
				
					<div data-groups='["industrial"]' class="item-wrapper col-md-3" data-name="Corrosion Hazard">
						<div class="item">
							<img src="{{'demo/stockphoto/blog_02.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Blog</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Gardens">
						<div class="item">
							<img src="{{'demo/stockphoto/portfolio_02.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Portfolio</h3>
						</div>
					</div>
				
					<div data-groups='["industrial"]' class="item-wrapper col-md-3" data-name="Code">
						<div class="item">
							<img src="{{'demo/stockphoto/portfolio_06.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Portfolio</h3>
						</div>
					</div>
				
					<div data-groups='["nature"]' class="item-wrapper col-md-3" data-name="Trees">
						<div class="item">
							<img src="{{'demo/stockphoto/music_11.jpg' | asset_url | img_loc }}" class="img-responsive">
							<h3>Music</h3>
						</div>
					</div>					
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}